---
import shape from "../../assets/images/shape-light.svg";
import newSkills from "../../assets/icons/new.svg";

import DataSkills from "./DataSkills";
---

<section id="skills" style="background:rgba(24, 19, 60, 1)">
  <div class="dots" style={{
    position: "absolute",
    width: "100%",
    height: "100%",
    backgroundImage: "radial-gradient(rgba(255, 255, 255, 0.1) 1px, transparent 1px)",
    backgroundSize: "30px 30px",
    opacity: 0.5,
  }}></div>
  <div class="max-w-7xl m-auto px-5 py-10">
    <div class="flex flex-col gap-5">
      <div class="relative md:w-[595px] md:pt-4 pt-1 w-[325px]">
        <h2 class="relative md:text-[56px] z-20 text-[30px] md:text-left font-bold">🎯 Specialized Skills</h2>
      </div>
      <p class="xl:text-2xl md:text-base text-sm xl:leading-9 text-medium xl:max-w-[38rem] text-[#98A0AC]">
        I am someone who enjoys seeking challenges. Here are a few skills that I have developed and honed.
      </p>
    </div>

    <DataSkills client:visible />
  </div>
</section>
