<!-- ---
import SocialMedia from "./SocialMedia";
import HomeContent from "./HomeContent";
---

<section id="home" class="flex justify-center items-center md:my-32 md:min-h-fit min-h-screen">
    <HomeContent client:load />
</section> -->
