---
import myPhoto from "../../assets/images/mes.jpeg";
import email from "../../assets/icons/social-media/gmail-light.svg";
import twitter from "../../assets/icons/social-media/twitter.svg";
import SocialMedia from "./SocialMedia";
import { IconBrandX } from "@tabler/icons-react";
---

<section
  id="contact"
  style="background:rgba(24, 19, 60, 1)"
  class=" py-10"
>
<center>
  <span class="md:text-lg text-sm md:font-medium">
    © <span class="date">2024</span>, by Reksa Prayoga Syahputra
    </span
  >
  <SocialMedia client:visible />

</center>
</section>
<script>
  const twitterButton: HTMLElement = document.getElementById("twitter-btn")!;

  twitterButton.addEventListener("click", () => {
    window.location.href = "https://x.com/KICODE3";
  });
</script>
